<!DOCTYPE html>
<html>
	<head>
		<title>Moshpit and Code</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
		<meta charset="utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="bower_components/vue/dist/vue.min.js"></script>
		<script type="text/javascript" src="bower_components/vue-resource/dist/vue-resource.min.js"></script>

	</head>
	<body id="app">
		<a class="fullsize-link" href="#internship">{{ content.internship.title }}</a>
		<header>
			<div class="logo">
				<img v-bind:src="content.top.logo" />
			</div>
			<div class="top-content">
				<div class="profile-pic">
					<img v-bind:src="content.top.profilepic" />
				</div>
				<div class="top-content-body">
					<h1>{{ content.top.title }}</h1>

					{{{ content.top.body | p }}}
				</div>
			</div>
			
		</header>

		<div class="content card">

			<div class="inner-content" v-if="skills" transition>
				<h2>
					{{content.reviews.title}}
					
				</h2>
				<a v-on:click="toggleskills" class="btn">What's this?</a>
				<div class="columns">
					<div class="column" v-for="r in content.reviews.list">
						<h3>{{ r.title }}</h3>
						{{{ r.body | p }}}

					</div>
				</div>
			</div>
			<div class="inner-content" v-else>
				<h2>
					{{content.skills.title}}
				</h2>

				<ul class="list">
					<li v-for="c in content.skills.list">
						<b>{{c.skill}}</b>
					</li>
				</ul>
				<a v-on:click="toggleskills" class="btn">{{content.skills.toggle}}</a>
			</div>
		</div>

		<div class="clients section">
			<div class="inner-content">
				<h2>{{content.clients.title}}</h2>
				<ul>
					<li v-for="c in content.clients.list">
						<img alt="{{c.name}}" v-bind:src="c.img"/>
					</li>
				</ul>
			</div>
		</div>

		<div id="internship" class="section invert">
			<div class="inner-content">
				<h2>{{ content.internship.title }}</h2>
				{{{ content.internship.body | p }}}
			</div>
		</div>

		<footer class="contact">
			<h2>{{ content.contact.title}}</h2>
			<ul>
				<li v-for="c in content.contact.list">
					<a title="{{ c.name }}" href="{{c.url}}">
						<img alt="{{c.name}}" v-bind:src="c.img"/>
					</a>
				</li>
			</ul>

		</footer>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-68666716-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<script type="text/javascript" src="scripts/app.js"></script>
	</body>

</html>